<div class="whiteBox">
<h2 class="titleHeader">End User License Agreement</h2>
    <div class="eula-text">
      <p (scroll)="onScroll($event)" >ACTIAN CORPORATION

          AVALANCHE SERVICES AGREEMENT
          
          THIS AVALANCHE SERVICES AGREEMENT (THE "AGREEMENT") 
          GOVERNS ALL SERVICES ("SERVICES") PROVIDED BY ACTIAN 
          CORPORATION ("ACTIAN" OR "WE" OR "US") THROUGH THE 
          WEBSITE LOCATED AT 
          https://avalanche.actiandatacloud.com OR THE AMAZON 
          AWS MARKETPLACE WEBSITE 
          (HTTPS://AWS.AMAZON.COM/MARKETPLACE/), THE MICROSOFT 
          AZURE MARKETPLACE WEBSITE (HTTPS://AZUREMARKETPLACE.
          MICROSOFT.COM) AND/OR SUCH OTHER WEBSITE DESIGNATED BY 
          ACTIAN ("SITE") PURSUANT TO ORDERS PLACED BY YOU WITH 
          ACTIAN OR A THIRD PARTY AUTHORIZED BY ACTIAN TO RECEIVE 
          ORDERS ON ORDER FORMS PROVIDED BY ACTIAN OR ITS 
          AUTHORIZED THIRD PARTY THAT REFERENCE THIS AGREEMENT 
          AND INCLUDE YOUR ORDER-SPECIFIC INFORMATION INCLUDING, 
          BUT NOT LIMITED TO: YOUR BILLING INFORMATION, A LIST 
          OF THE SERVICES ORDERED AND ANY APPLICABLE PRICING 
          METRICS (SUCH AS THE NUMBER OF USERS, TIME PERIOD, 
          AMOUNT OF DATA, ETC.) AND PRICE ("ORDER FORM(S)").  
          YOU MUST HAVE ACCEPTANCE OF YOUR ORDER FORM FROM 
          ACTIAN OR ITS AUTHORIZED THIRD PARTY IN ORDER TO USE 
          THE SERVICES, AND EVEN THEN ONLY THE ORDER-SPECIFIC 
          INFORMATION ON THE ORDER FORM SHALL APPLY. IN THE 
          EVENT OF A CONFLICT OR INCONSISTENCY BETWEEN AN ORDER 
          FORM AND THIS AGREEMENT, THE TERMS OF THIS AGREEMENT 
          SHALL CONTROL.
          
          YOU ARE REQUIRED TO INDICATE YOUR AGREEMENT TO THESE 
          TERMS AND CONDITIONS IN ORDER TO ACCESS AND USE THE 
          SERVICES.  BY CLICKING ON THE "ACCEPT" BUTTON OR 
          ACCESSING AND USING THE SERVICES, YOU ARE CONSENTING 
          TO BE BOUND BY THIS AGREEMENT. IF YOU ARE ENTERING 
          INTO THIS AGREEMENT ON BEHALF OF A COMPANY OR OTHER 
          LEGAL ENTITY, YOU REPRESENT THAT YOU HAVE THE 
          AUTHORITY TO BIND SUCH ENTITY TO THESE TERMS AND 
          CONDITIONS, IN WHICH CASE THE TERMS "YOU" OR "YOUR" 
          SHALL REFER TO SUCH ENTITY.  IF YOU HAVE ENTERED 
          INTO A SEPARATE SIGNED AGREEMENT WITH ACTIAN GOVERNING 
          YOUR USE OF THE SERVICES, TO THE EXTENT OF A CONFLICT, 
          THE SEPARATE SIGNED AGREEMENT WILL GOVERN.
          
          1.  TRIAL OR BETA VERSIONS.  If You are registering 
          to use the Services for a trial period or are 
          registering to use a beta version of the Services, 
          You may only use the Services for internal evaluation 
          purposes during the applicable trial or beta Term.  
          Provisions in this Agreement regarding support and 
          Available Access Time do not apply to trials or beta 
          versions of the Services.
          
          2.  SERVICES AND SUPPORT.  Subject to Your compliance 
          with the terms and conditions of this Agreement, 
          including without limitation Your payment of the 
          applicable fees for the use of the Services ("Fees"), 
          Actian grants You a nonexclusive, nontransferable, 
          revocable, limited license during the Term to access 
          and use the Services solely as necessary to upload, 
          store, manage and query Your Content (as defined 
          below).  Unless otherwise expressly authorized in 
          writing by Actian, You may only use the Services for 
          Your internal business purposes and may not upload, 
          store, manage or query Content, or sell, resell, 
          distribute, loan, encumber, transfer, sublicense, 
          rent, lease, or otherwise allow third parties to 
          access the Services. You will adhere to all laws, 
          rules, and regulations applicable to Your use of 
          the Services. 
          
          
          
          3.  ACTIAN TOOLS.  From time to time, Actian may 
          make available to You certain software, tools, and 
          other materials for download and use in connection 
          with Your use of the Services ("Actian Tools").  
          Subject to Your compliance with the terms and 
          conditions of this Agreement, including without 
          limitation Your payment of all applicable Fees, 
          Actian grants You a nonexclusive, nontransferable, 
          revocable, limited license during the Term to 
          download, install, copy, and use the Actian Tools 
          solely in connection with and as necessary for 
          Your use of the Services. Actian may make support 
          available for the Services. The details of such 
          support for the Services can be found at 
          http://supportservices.actian.com/support-services/
          support#policy. We may suspend or terminate support 
          services for the Services in the event that You do 
          not pay fees for Support Services when due. You may 
          not use or access Support Services for the benefit 
          of a third party, or provide access to or permit use 
          of support services by a third party.
          
          4.  RESTRICTIONS.  You agree not to: (i) use the 
          Services, Support Services or Actian Tools except as 
          expressly authorized in this Agreement and Your Order 
          Form; (ii) use any device, software, or routine that 
          (a) interferes with any application, function, or 
          use of the Services or Actian Tools, or (b) is 
          intended to damage, detrimentally interfere with, 
          surreptitiously intercept, or expropriate any system, 
          data, or communication; (iii) resell, sublicense, 
          time-share, or otherwise use or share the Services 
          with or for the benefit of any third party, including 
          but not limited to using the Services in a service 
          bureau, SaaS, ASP, marketing, training outsourcing 
          services, consulting services or other commercial 
          service related to the Services or other similar 
          hosted environment, except as otherwise expressly 
          permitted in this Agreement or authorized by Actian 
          in writing; (iv) frame or mirror the Site; 
          (v) decompile, disassemble or reverse-engineer the 
          Actian Tools or the underlying software that is part 
          of the Services or otherwise attempt to derive the 
          source code for the foregoing; (vi) use the Services 
          or Actian Tools either directly or indirectly to 
          support any activity that is illegal; (vi) access 
          the Services for purposes of monitoring its 
          availability, performance or functionality (other 
          than for trial purposes), or for any other 
          benchmarking or competitive purposes; use the 
          Services to develop a product or service which is 
          competitive with any of the Services marketed by 
          Actian, (vii) download or export from the Site any 
          Actian software or software images or disks connected 
          with the Services unless You have purchased the 
          requisite licenses from Actian or an authorized 
          Third Party to use such software images; or 
          (viii) authorize any third parties to do any of 
          the above.  You shall notify Actian if You become 
          aware of any unauthorized access to, or use of, 
          the Services. In addition, a data limit of one 
          terabyte (1 TB) applies to data exported out of the 
          Services by any means each month, including 
          query results, calculated as a cumulative value 
          across all Your Avalanche clusters. If the data 
          transferred out of the Services exceeds this monthly 
          1 TB limit, Actian reserves the right to either 
          suspend Your Services or impose additional charges 
          for exceeding the data limit.
          
          5.  NO SPAM.  You will not distribute, publish, send, 
          or facilitate unsolicited mass e-mailings, promotions, 
          advertising, or solicitations (e.g. "spam"), including 
          commercial advertising and informational announcements.
          Actian and the CSV (as defined below) may: investigate 
          violations of this Agreement or misuse of the Services;
          or remove, disable access to, or modify any Content or 
          resource that violates this Agreement or any other 
          agreement with You for use of the Services or the CSV 
          services. Actian and the CSV may report any activity 
          that Actian or the CSV suspect violates any law or 
          regulation to appropriate law enforcement officials, 
          regulators, or other appropriate third parties. Such 
          reporting may include disclosing appropriate customer 
          information. Actian and the CSV also may cooperate 
          with appropriate law enforcement agencies, regulators, 
          or other appropriate third parties to help with the 
          investigation and prosecution of illegal conduct by 
          providing network and systems information related to 
          alleged violations of this Agreement.
          
          6.  OWNERSHIP.  Actian and/or its licensors own all 
          worldwide right, title and interest in and to the 
          Services and the Actian Tools, including all 
          worldwide intellectual property rights therein.  
          You may not delete or in any manner alter the 
          copyright, trademark, and other proprietary rights 
          notices appearing in or on the Services as provided. 
          You may from time to time provide suggestions, 
          comments, or other feedback to Actian with respect 
          to the improvement, correction, or modification of 
          the Services or Actian Tools (collectively, 
          "Feedback").  You agree that Actian shall be free to 
          use, disclose, reproduce, license, distribute, and 
          otherwise commercially exploit the Feedback provided 
          to it with respect to the Services or Actian Tools as 
          it sees fit, entirely without obligation or 
          restriction of any kind.  You may not modify, alter, 
          tamper with, repair or otherwise create derivative 
          works, compilations or collective works of the 
          Services, Actian Tools or software provided or 
          accessible in connection therewith.
          
          7.  FEES AND BILLING.  In order to access and use the 
          Services, You are required to pay to Actian (or a 
          third party authorized by Actian to receive payment) 
          the applicable Fees for the Services that You 
          ordered.  Depending on the Services and payment 
          options made available by Actian or its authorized 
          third party and selected by You, Fees may include 
          one-time charges, hourly, monthly, quarterly, or 
          annually recurring charges, and usage-based charges. 
          Payment terms will be set forth in the Order with 
          Actian or the third party authorized by Actian to 
          receive payment. Payments must be made in US dollars. 
          Fees are exclusive of all taxes, levies, and duties 
          imposed by taxing authorities, and You are responsible 
          for all such taxes, excluding taxes based solely on 
          Actian's income.  Any billing disputes must be 
          reported to Actian or its authorized third party in 
          writing within thirty (30) days of the date of the 
          invoice.  All Fees are nonrefundable. Actian reserves 
          the right to charge a reconnection fee if Your 
          Services are suspended or if You terminate this 
          Agreement and re-order Services within three months 
          from the termination date.  If any amount is more 
          than thirty (30) days overdue, Actian may suspend 
          Services until all overdue amounts are paid in full.
          
          8.  USER ACCOUNTS.  You are responsible for obtaining, 
          maintaining, and supporting all internet access, 
          computer hardware, and other equipment and services 
          needed for access to the Services. You are responsible 
          for properly configuring and using the Services and 
          taking Your own steps to maintain appropriate security 
          and protection of Your Content, including using 
          encryption technology to protect Your Content from 
          unauthorized access and routinely archiving Your 
          Content.
          
          9.  YOUR CONTENT.  As used herein, "Content" means 
          any material, information or data, whether owned by 
          You or a third party, that is provided by You and 
          with which You use the Services to upload, store, 
          manage or query. As between Actian and You, all 
          Content provided or submitted by You to Actian 
          through the Services, remains Your sole property.  
          You shall: (i) have sole responsibility for the 
          accuracy, quality, integrity, legality, reliability, 
          and appropriateness of all of Your Content and 
          (ii) use commercially reasonable efforts to prevent 
          unauthorized access to, or use of, the Services, and 
          notify Actian promptly of any such unauthorized use. 
          You hereby grant to Us, and We hereby accept, the 
          non-exclusive, nonsublicenseable license to use, 
          copy, store, modify and display Your Content solely 
          to the extent necessary to provide the Services to 
          You.  You represent and warrant that: (i) You or Your 
          licensors own all right, title and interest in and to 
          Your Content or have all the rights in the Content to 
          use it and grant the rights contemplated in this 
          Agreement; (ii) no Content will contain any malicious 
          or hidden mechanisms or code for the purpose of 
          damaging or corrupting the Services or CSV network; 
          and (iii) You will not use, or encourage, promote, 
          facilitate or instruct others to use, the Services 
          for any illegal, harmful or offensive use, or 
          transmit, store, display, distribute or otherwise 
          make available content that is illegal, harmful, or 
          offensive. 
          
          You must abide by all applicable local, 
          state, national and foreign laws, treaties and 
          regulations in connection with Your use of the 
          Services, including those related to export 
          regulations, data privacy, international 
          communications and the transmission of technical 
          or personal data. By using the Services, You agree 
          to and are bound by the terms and conditions of the 
          Actian Data Processing Addendum (“DPA”), which can be 
          found at http://esdcdn.actian.com/DataCloud_Docs/ACTIAN-
          DATA-PROCESSING-ADDENDUM-DataCloud-Services.htm, and 
          such DPA is incorporated by reference into this 
          Agreement. You will ensure that any PII 
          transmitted through the Services by You will be 
          encrypted with enterprise standard encryption 
          technology prior to transmitting the PII through the 
          Services. You will not provide any keys to 
          Actian allowing Actian to decrypt the PII.  As used 
          herein, "PII" means any information or data that 
          identifies an individual or from which an individual 
          may be identified, including, without limitation, an 
          individual's name, address, telephone number, 
          driver's license, identification card or passport 
          numbers, personal identification codes or numbers, 
          electronic mail names or addresses, financial 
          account information, credit card numbers, account 
          numbers and all "personal information," "nonpublic 
          personal information," personal health-related 
          information, and other similar information, however 
          described, as defined under applicable data privacy 
          and security laws.
          
          10.  ACTIAN RESPONSIBILITIES.  Actian shall use 
          commercially reasonable efforts to: (i) not disclose 
          or use Your Content except as reasonably necessary in 
          connection with providing the Services.  
          Notwithstanding the foregoing, Actian may disclose 
          Your Content if Actian determines that such action 
          is reasonably necessary: (a) to comply with the law, 
          regulatory requirements, or legal or regulatory 
          process; (b) to enforce this Agreement; (c) to comply 
          with Actian's agreement with the CSV or as otherwise 
          required by the CSV, or (d) to respond to claims that 
          You are using the Services to perform or support 
          activities that violate the law or the rights of 
          third parties.  Unless prohibited by law or legal 
          process, Actian will use its commercially reasonable 
          efforts to not disclose Content without giving You 
          notice of the request for such disclosure and a 
          reasonable period of time to respond to such request.
          (ii) maintain the security and integrity of the 
          Services; (iii) provide support procured on the Order 
          Form or included in the Services; (iv) ensure that 
          the Services are available and performing 
          substantially in accordance with the online help 
          documentation with an Available Access Time of 99.5% 
          over each monthly period during the Term.  
          "Available Access Time" means twenty-four (24) hours 
          per day, seven (7) days per week, except for: 
          (1) planned down time and (2) down time caused by 
          circumstances beyond Actian's reasonable control, 
          including without limitation, acts of God, acts of 
          government, flood, fire, earthquake, civil unrest, 
          acts of terror, strike or labor problems, problems 
          with software, hardware, telecommunications lines, 
          network connections, or other equipment not within 
          Actian's possession or reasonable control, or denial 
          of service attacks.  In the event Customer cannot 
          access the Services for four (4) or more hours of the 
          99.5% Available Access Time in any one (1) calendar 
          month, Actian will issue a credit to You in an amount 
          equal to one (1) day of Services for each increment 
          of four (4) hours of such unavailable time in that 
          month ("Service Credit").  To qualify for a Service 
          Credit, You must request such Service Credit from 
          Actian via a FAX or e-mail within three (3) days 
          after the end of the applicable month using a form 
          supplied by Actian.  The maximum number of Service 
          Credits that may be credited for any reason to You 
          will be seven (7) Service Credits in any one 
          Services month.  Your sole and exclusive remedy, 
          and Actian's sole liability, for Actian's failure 
          to provide the Services or to meet the Available 
          Access Time or otherwise provide the Services in 
          accordance with this Agreement shall be the provision 
          of Service Credits to You as described herein. 
          
          11.  TERM AND TERMINATION.  This Agreement will 
          commence on the date that You click the "Accept" 
          button (unless a different effective date is 
          specified in the Order Form in which case the 
          effective date in the Order Form will apply as the 
          start date for the Agreement) and will remain in 
          effect for the period for which You have paid for 
          the Services ("Term"), unless earlier terminated by 
          You or Actian as provided below in this Section. If 
          You are accessing trial or beta versions of the 
          Service under Section 1 above, the Term will 
          automatically terminate at the end of the applicable 
          trial or beta period specified by Actian, or if no 
          trial or beta period is specified by Actian, then 
          thirty (30) days from the date that You click the 
          "Accept" button.  You may terminate this Agreement 
          at any time with at least thirty (30) days prior 
          written notice.  However, in the case of such 
          termination by You, all Fees paid by You under this 
          Agreement are nonrefundable, including, but not 
          limited to, any portion of fees paid in advance by 
          You for the Services. Also, such termination by You 
          shall not relieve You of Your obligation to pay any 
          Fees accrued or payable to Actian relating to the 
          Services prior to the effective date of termination, 
          and You shall immediately pay to Actian all such 
          Fees upon the effective date of termination.  
          Without limiting any other remedies available to it, 
          Actian may immediately suspend access to the 
          Services and/or terminate this Agreement if: 
          (a) You breach any material provision of this 
          Agreement that, (if it is capable of being cured) 
          is not cured within fifteen (15) days from written 
          notice to You; (b) Actian determines that Your 
          actions are likely to cause legal liability for 
          Actian or its suppliers and other customers or Your 
          use of the Services has violated the CSV's 
          acceptable use policy; c) Your use of the Services 
          disrupts or poses a security risk to the Services or 
          any other third party or may harm the CSV network, 
          any third party network or Actian's network; (d) You 
          are using the Services for fraudulent or illegal 
          activities; (e) Actian's continued provision of any 
          of the Services is prohibited by applicable law; 
          (f) CSV modifies the terms of its agreement with Us 
          by including new or amended terms that We refuse to 
          accept, (g) CSV modifies its offerings or technology 
          in such a way as to negatively affect the Services; 
          (h) CSV suspends or terminates its agreement to 
          provide Actian the CSV services for any reason; or 
          (i) You have ceased to operate in the ordinary 
          course, made an assignment for the benefit of 
          creditors or similar disposition of Your assets, or 
          become the subject of any bankruptcy, reorganization, 
          liquidation, dissolution or similar proceeding. If 
          Your use of or access to the Services is suspended: 
          (a) You remain responsible for all fees and charges 
          You have incurred through the date of suspension; 
          (b) You remain responsible for any applicable fees 
          and charges for any Services to which You continue 
          to have access, as well as applicable data storage 
          fees and charges, and fees and charges for 
          in-process tasks completed after the date of 
          suspension; and (c) You will not be entitled to 
          any service credits under the Service Level 
          Agreements for any period of suspension.
          
          12.  EFFECTS OF TERMINATION.  We will have no 
          obligation to continue to store or permit You to 
          retrieve Your Content following any termination or 
          expiration of this Agreement.  Upon any expiration 
          or termination of this Agreement, except for the 
          items in this Section 12 (a) through (c) above, the 
          rights and licenses granted hereunder will 
          automatically terminate, and You may not continue to 
          use the Service.  Actian will have no liability for 
          any costs, losses, damages, or liabilities arising 
          out of or related to Actian's termination of this 
          Agreement.  The provisions of Sections 4, 5, 6, 7, 
          9, 11-16, and 18 will survive termination of this 
          Agreement.
          
          13.  INDEMNITY.  You will defend, indemnify and hold 
          Actian and its licensors harmless from and against 
          any loss, damage, liability or cost (including 
          reasonable attorneys' fees) resulting from any 
          third party claim based on: (i) Your use of Content 
          alone or in combination with other applications, 
          content or processes, that infringes, 
          misappropriates, or violates the rights of, or has 
          caused harm to, a third party; (ii) a violation by 
          You of Your representations and warranties; (iii) a 
          breach by You or Your authorized users of this 
          Agreement or violation of applicable law; or (iv) a 
          claim against the CSV concerning a dispute between 
          You and Us; provided that Actian promptly notifies 
          You in writing of any and all such claims. In the 
          event of any loss, damage, liability or cost for 
          which You are obligated to indemnify Actian 
          hereunder, You shall have sole control of the 
          defense and all related settlement negotiations, and 
          Actian shall reasonably cooperate with You in the 
          defense and/or settlement thereof at Your expense; 
          provided that Actian may participate in such defense 
          using its own counsel, at its own expense. If We, 
          CSV or either's affiliates are obligated to respond 
          to a third party subpoena or other compulsory legal 
          order or process resulting from any third party 
          claim listed above, You will also reimburse such 
          party for reasonable attorneys' fees, as well as 
          such party's employees' and contractors' time and 
          materials spent responding to the third party 
          subpoena or other compulsory legal order or process 
          at such party's then-current hourly rates. We may 
          also assume control of the defense and settlement 
          of the claim at any time.
          
          14.  DISCLAIMER.  The Services and Actian Tools are 
          provided "AS IS" and the entire risk as to 
          satisfactory performance, accuracy, and effort is 
          with You.  Actian does not warrant that the 
          operation of the Services or Actian Tools will 
          be error free or uninterrupted.  ACTIAN HEREBY 
          DISCLAIMS ANY AND ALL WARRANTIES, EXPRESS OR 
          IMPLIED, INCLUDING WITHOUT LIMITATION THE IMPLIED 
          WARRANTIES OF MERCHANTABILITY, FITNESS FOR A 
          PARTICULAR PURPOSE, NON-INFRINGEMENT AND WARRANTIES 
          ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE.
          
          15.  LIMITATION OF LIABILITY.  IN NO EVENT SHALL 
          ACTIAN'S AGGREGATE LIABILITY EXCEED THE AMOUNTS 
          ACTUALLY PAID BY AND/OR DUE FROM YOU IN THE TWELVE 
          (12) MONTH PERIOD IMMEDIATELY PRECEDING THE EVENT 
          GIVING RISE TO SUCH CLAIM.  IN NO EVENT SHALL ACTIAN 
          AND/OR ITS LICENSORS BE LIABLE TO ANYONE FOR ANY 
          INDIRECT, PUNITIVE, SPECIAL, EXEMPLARY, INCIDENTAL, 
          CONSEQUENTIAL OR OTHER DAMAGES OF ANY TYPE OR KIND 
          (INCLUDING LOSS OF DATA, REVENUE, PROFITS, USE OR 
          OTHER ECONOMIC ADVANTAGE) ARISING OUT OF OR RELATED 
          TO THE SERVICES, ACTIAN TOOLS OR THIS AGREEMENT, 
          INCLUDING BUT NOT LIMITED TO THE USE OR INABILITY 
          TO USE THE SERVICES, OR FOR ANY INFORMATION OBTAINED 
          FROM OR THROUGH THE SERVICES, ANY INTERRUPTION, 
          INACCURACY, ERROR OR OMISSION, REGARDLESS OF CAUSE, 
          EVEN IF THE PARTY FROM WHICH DAMAGES ARE BEING SOUGHT 
          (OR SUCH PARTY'S LICENSORS) HAVE BEEN PREVIOUSLY 
          ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE 
          FOREGOING EXCLUSION OF INCIDENTAL AND CONSEQUENTIAL 
          DAMAGES SHALL NOT APPLY TO THE EXTENT PROHIBITED BY 
          APPLICABLE LAW.
          
          16.  USAGE DATA.  In addition to certain information 
          about You, including Your account information, 
          authorized user information, and services and support 
          information, that is needed to provide You with the 
          Services, Actian may maintain other information about 
          You, including the duration and frequency of Your use 
          of the Services and other usage data (collectively 
          "Usage Data").  Actian uses the Usage Data for 
          internal business purposes only, including improving, 
          testing and providing the Services and additional 
          services.  Actian may disclose Usage Data in 
          aggregate form (e.g., data aggregated from Your and 
          other customers' use of the Services, but does not 
          identify You or any other customer) for promotion, 
          statistical analysis, market analysis, financial 
          analysis, and other such purposes.
          
          17.  AMENDMENTS.  Actian may modify the terms of this 
          Agreement or Services at any time and those amendments 
          shall be effective at the time notice is given. You 
          will be given notice of any amendments to this 
          Agreement of the Services. In the event that CSV 
          modifies the terms of its agreements with Us (or We 
          change the particular CSV on which the Services are 
          based), You acknowledge and agree that We may modify 
          the terms of this Agreement to conform to the changed 
          CSV terms, and such changes shall be effective at the 
          time the changes in Our agreement with the CSV (or the 
          new CSV's terms) become effective. Actian may provide 
          notice to You by means of (i) posting information or 
          a link to it on the Actian website applicable to the 
          Services, (ii) a general notice on Your account 
          login screen, or (iii) by email to Your e-mail 
          address on record under Your account.  Such notice 
          shall be deemed to have been given upon the 
          expiration of three days after posting, immediately 
          upon display on Your account login screen, or one 
          day after emailing.
          
          18.  GENERAL.  This Agreement is intended for the 
          sole and exclusive benefit of the parties and is 
          not intended to benefit any third party. Only the 
          parties to this Agreement may enforce it. This 
          Agreement and any action related to this Agreement 
          shall be governed by California law and controlling 
          U.S. federal law, and the choice of law rules of any 
          jurisdiction shall not apply.  The parties agree that 
          the United Nations Convention on Contracts for the 
          International Sale of Goods shall not apply to this 
          Agreement.  The venue for any claims arising under this 
          Agreement shall be the federal courts located in the 
          Northern District of California or the state courts 
          located in Santa Clara County, California, and the 
          parties agree to submit to the exclusive jurisdiction of 
          such courts. If any provision of this Agreement is held 
          by a court of competent jurisdiction to be invalid or 
          unenforceable, then such provision(s) will be 
          construed, as nearly as possible, to reflect the 
          intentions of the invalid or unenforceable 
          provision(s), with all other provisions remaining in 
          full force and effect. No joint venture, partnership, 
          employment, or agency relationship exists between 
          You and Actian as a result of this Agreement or use 
          of the Services.  You may not assign, transfer, or 
          otherwise delegate any of Your rights, duties, or 
          obligations under this Agreement in whole or in party 
          to any individual, firm or corporation without the 
          prior written consent of Actian.  Any attempt to 
          assign, transfer or otherwise delegate any of Your 
          rights, duties, or obligations under this Agreement 
          without the prior written consent of Actian shall be 
          void. Except with respect to the obligation to pay 
          fees when due hereunder, neither party shall be 
          deemed in default of this Agreement because of a 
          delay or failure in performance of its obligation 
          resulting from any cause beyond its reasonable 
          control (a "Force Majeure"), provided it gives 
          reasonably prompt notice of the Force Majeure 
          condition to the other party and uses reasonable 
          efforts to mitigate the delay or failure. This 
          Agreement and any Order Forms constitute the 
          complete and exclusive understanding and agreement 
          between the parties regarding their subject matter 
          and supersede all prior or contemporaneous 
          agreements or understandings, written or oral, 
          relating to their subject matter.  Any additional or 
          different terms in Your documents (including any 
          terms contained on ordering documents and purchase 
          orders) shall not apply and are hereby deemed to be 
          material alterations and notice of objection to, and 
          rejection of them is hereby given. No waiver of any 
          provision of this Agreement will be effective unless 
          it is in writing and signed by duly authorized 
          representative of the party against whom the waiver 
          is to be asserted.  The failure by either party to 
          enforce any provision of this Agreement will not 
          constitute a waiver of future enforcement of that or 
          any other provision.
          
          19.  ADDITIONAL TERMS FOR CSVs.  a) "CSV" means a 
          third-party cloud service vendor which has entered a 
          contract with Us to provide cloud services to Us on 
          which the Services are based.   For purposes of 
          Section 15 ("Limitation on Liability") of the 
          Agreement, the term "Our suppliers" includes CSVs, 
          and for purposes of Section 13 ("Indemnity") of the 
          Agreement, the term "licensors" includes CSVs. 
          b) "Service Level Agreement" means the service 
          level agreement that We offer with respect to the 
          Services for the specific CSV on which the Services 
          are based, and which is provided in this Agreement 
          or on Our website.
          
          Updated March 18, 2019</p>
    </div>
    <div class="copyright">
        Need a Copy of this EULA? <span> <a [routerLink]="['/actian/forgot-password']">Email Me</a> </span>
    </div>
    <div class="trialControls">
            <button class="mr-2 btn btn-transition btn-outline-info btnDecline">Decline</button>
            <button [routerLink]="['/actian/offers']" class="mr-2 btn btn-transition btn-light btnAgree">I Agree </button>
    </div>
</div>
<footer> </footer>