// ul {
      
// }
#header-nav-ul {
       float: right !important;
       margin-left:auto !important;
       padding:0 !important;
       list-style-type: none !important;
}
li  {
       display: inline-block !important;
       margin-left: 3em !important;
       font-size: 18px !important;
}

li a:hover {
       text-decoration: none;
       color: gray;
}

li a {
       color: #98A9BC !important;
}

li button {
       font-size:14px;
       font-weight: bold;
}