<div class="content-heading">
    <div class="content-heading-subheading">
        Integration > Template
      </div>
  <div class="content-heading-main">
   Templates
      <ul id="header-nav-ul">
          <li class="header-nav-links"><a [routerLink]="['/dashboards/configurations']">Configurations </a></li>
          <li class="header-nav-links"><a [routerLink]="['/dashboards/templates']" >Templates</a></li>
          <li class="header-nav-links"><a href="#">Macros</a></li>
          <li class="header-nav-links"><a href="#">Files Manager</a></li>
          <li class="header-nav-links"> 
            <button [routerLink]="['/dashboards/clusters/create-new-template']" class="mb-2 mr-2 btn-pill btn btn-info btn-icon">
              <i class="lnr-plus-circle btn-icon-wrapper"> </i>
              Create Templates
            </button>
          </li>
      </ul>
  </div>
</div>
<!-- 
<div class="content-heading">
  <div class="content-heading-subheading">
      Overview of Integrations
    </div>
<div class="content-heading-main">
 Integration Manager
    <ul id="header-nav-ul">
        <li class="header-nav-links"><a [routerLink]="['/dashboards/configurations']">Configurations </a></li>
        <li class="header-nav-links"><a [routerLink]="['/dashboards/integrations']" >Templates</a></li>
        <li class="header-nav-links"><a href="#">Macros</a></li>
        <li class="header-nav-links"><a href="#">Files Manager</a></li>
    </ul>
</div>
</div> -->