
<div class="whiteBox">
<h2 class="titleHeader">Forgot Password</h2>
        <div class="signInControls">
                <div  *ngIf="!emailSent">
                        <form name="form" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
                        <div class="position-relative form-group">
                                <label [ngClass]="{'form-label-error': f.submitted && f.value.email == undefined || f.value.email == ''}"  for="exampleEmail">Your Email</label>
                                <input placeholder="Enter your email" type="text" [ngClass]="{'form-field-error': f.submitted && f.value.email == undefined || f.value.email == ''}" [(ngModel)]="form.email" name="email" class="mb-2 form-control-lg form-control" #email="ngModel" required>
                                <div class="error-msg"  *ngIf="f.submitted && f.value.email == undefined || f.value.email == ''">
                                        <div *ngIf="f.value.email == undefined || f.value.email == ''">Email is required</div>
                                </div>
                        </div>
                        <!-- <button (click)="resetPassword('email@test.com')" class="mb-2 mr-2 btn btn-primary btn-lg btn-block btnContinue">RESET PASSWORD</button> -->
                        <button  [ngClass]="{'form-button-valid': f.valid}"  type="submit" class="mb-2 mr-2 btn btn-light btn-lg btn-block btnContinue">RESET PASSWORD</button>
                        </form>
                        <div class="copyright">
                                Remember the Password? <span> <a [routerLink]="['/actian/login']" >Try Logging In</a> </span>
                        </div>
                </div>
                <div *ngIf="emailSent" class="emailConfirm">
                        <p>we have sent you an email to allow you to reset your password. If it hasn't arrived within ten minutes please double check your junk mail</p>
                        <div class="copyright">
                                Still need Help? <span> <a [routerLink]="['/actian/login']" >Contact Us</a> </span>
                        </div>
                </div>
        </div>
</div>

<!-- <app-actian-stepper></app-actian-stepper> -->
<footer> </footer>