@import "../../../assets/actian/actian-variables";


.card-cluster {
       width: 1021px;
       margin-left: auto;
       margin-right: auto;
       border-radius: 5px;
       background-color: #FFFFFF;
       box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
       padding: 40px;
       top:75px;
       position: relative;
}

.card-cluster-header {
       position: relative;
       font-size: 33px;
       font-weight: 500;
       text-align: center;
       margin-bottom: 40px;
       color: #238FFB;
       margin-top: 25px;
}

.cluster-form {
       width: 515px;
       margin-left: auto;
       margin-right: auto;
}

.form-group {
       margin-bottom: 2rem;
}

.form-control-lg {
       font-size: 14px;
}

.bottom-card-section{
       text-align: center;
}

.bottom-card-section a{
       font-size: 20px;
       color: #238FFB;
       font-weight: 500;
}

.bottom-card-section h3 {
       font-size:20px;
       font-weight: 500;
}

.bottom-card-section h1 {
       font-size:36px;
       color: #323C47;
       font-weight: 500;
       padding-bottom: 24px;
}

.continue{
       padding-top: 50px;
}

.continue button {
       text-transform: uppercase;
       color: lightgray;
       font-size: 17px;
       font-weight: bold;
       width: 232px;
}

.header-bar-title {
       color: #424B5F;
       font-size: 24px;
       font-weight: 500;
       text-align: left;
}

.table thead th {
       font-size: 14px;
       color: #238FFB;
       padding-top:52px;
       padding-bottom:29px;
   }

tr:nth-child(even) {background:rgba(246,249,252,0.66)}

.hrline {
    background-color: #DEE5EF;
    color: #DEE5EF;
}

.configuration-data-grid {
       margin-top: 0px;
}


.table-filter-bar {
       width: 120px;
       height: 40px;
       float: right;
       display: inline-flex;
       padding-top: 18px;
   }
   .table-filter-bar div {
       padding-left: 22px;
   }

   .action-button {
          width: 120px !important;
   }

table {
       top: -42px;
    position: relative;
}

.btn-info {
       background-color: $color-actian-primary !important;
}

.btn-light {
       color: $color-text-disabled-button !important;
}
