<div class="backdrop"> </div>
<div class="modal-window">
    <div class="modal-window-close">
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-window-body">
      <form name="form">
          <div class="form-row">
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="exampleEmail11">Source</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="position-relative form-group">
               
              </div>
            </div>
          </div>
          <div class="form-row">
              <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="exampleEmail11">Username</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="position-relative form-group">
                  <input  name="password" id="examplePassword11" placeholder="password placeholder" type="password" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <label for="exampleEmail11">Password</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="position-relative form-group">
                    <input  name="password" id="examplePassword11" placeholder="password placeholder" type="password" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-row">
                  <div class="col-md-6">
                    <div class="position-relative form-group">
                      <label for="exampleEmail11">Security Token</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="position-relative form-group">
                      <input  name="password" id="examplePassword11" placeholder="password placeholder" type="password" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                      <div class="position-relative form-group">
                        <label for="exampleEmail11">Sandbox</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="position-relative form-group">
                          <div class="custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="config-switch1" checked="">
                              <label class="custom-control-label" for="config-switch"></label>
                          </div>
                      </div>
                    </div>
                  </div>
     </form>
    </div>

  <div class="modal-window-footer">
    <button type="button" class="btn btn-primary">SAVE CONNECTION</button>
  </div>
</div>