<div class="backdrop"> </div>
<div class="modal-window">
    <div class="modal-window-close">
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-window-body">
      <div class="title">
        <div class="title-text">
          <h1>Update Package</h1>
        </div>
      </div>

      <div class="container">
        <br><br><br>
        <span>Upload Package to Autofill the fields if you have package</span>
        <br><br><br>
        <br><br><br>
        <br><br><br>
        <span>Drag & drop the package required for the Configuration</span>
        <br><br>
        <span>or</span>
        <br><br>
        <span><a href="#">Browse File</a></span>
      </div>
      <br><br><br>
      <span>or Attach Package File from your <a href="#">File Manager</a></span>

    </div>

  <div class="modal-window-footer">
    
  </div>
</div>