<div class="whiteBox">
    <h2 *ngIf="!resetConfirm" class="titleHeader">
      Reset Password
    </h2>
    <h2 *ngIf="resetConfirm" class="titleHeader">
      Password Changed
    </h2>
        <div class="signInControls">
                <div *ngIf="!resetConfirm" class="resetForm">
                        <form >
                        <div class="position-relative form-group">
                                <label for="exampleEmail">Login</label>
                                <input placeholder="ben.joy@actian.com" type="text" class="mb-2 form-control-lg form-control">
                        </div>
                        <div class="position-relative form-group">
                            <label for="exampleEmail">Password</label>
                            <input placeholder="Enter New Password" type="text" class="mb-2 form-control-lg form-control">
                            <input placeholder="Re-Enter New Password" type="text" class="mb-2 form-control-lg form-control">
                        </div>
                        <button  (click)="resetPassword()" class="mb-2 mr-2 btn btn-primary btn-lg btn-block btnContinue">CHANGE PASSWORD</button>
                        </form>
                </div>
                <div *ngIf="resetConfirm">
                  <p class="message">Your password has been changed successfully! You will receive and email confirming the change shortly.</p>
                  <button [routerLink]="['/actian/login']" class="mb-2 mr-2 btn btn-primary btn-lg btn-block btnContinueDash">CONTINUE TO DASHBOARD</button>
                  <div class="copyright">
                      Need Help? <span> <a [routerLink]="['/actian/login']" >Contact Us</a> </span>
                  </div>
                </div>
        </div>
</div>

<!-- <app-actian-stepper></app-actian-stepper> -->
<footer> </footer>