@import "../../../assets/actian/actian-variables";

.whiteBox {
       height: 480px !important;
       width: 555px !important;
}
.signInControls {
       margin-right: auto;
       margin-left: auto;
       width: 448px;
       position: relative;
       top:80px;

}
.copyright {
       text-align: center;
}

.titleHeader {
       top:47px;
       color: #1B1E24;
       font-size: 30px;
       font-weight: 500;
       line-height: 40px;
       position: relative;
       text-align: center;
}

.loginLogo {
       margin-right: auto;
       margin-left: auto;
       width: 166px;
       height: 45px;
       top: 58px;
       position: relative;
       background-image: url('../../../assets/images/logo-inverse.svg');
       background-repeat: no-repeat;
       background-size: cover;
}


.bg {

       background-image: url('../../../assets/actian/mountain_bg.png');
       background-size:cover;
       width:100%;
       background-position: center bottom;
       background-repeat: no-repeat;
       height: 70%;
       position: absolute;
       top: 634px;
}

.btnContinue{
       margin-top: 32px !important;
       height: 43px;
       width: 360px;
       border-radius: 6px;
       background-color: $color-actian-primary-button;
       font-size: 16px;
       font-weight: 500;
       line-height: 22px;
       text-align: center;
       margin-left: auto;
       margin-right: auto !important;
}

.btnContinueDash{
       margin-top: 60px !important;
       margin-bottom: -29px !important;
       height: 43px;
       width: 360px;
       border-radius: 6px;
       background-color: $color-actian-primary-button;
       font-size: 16px;
       font-weight: 500;
       line-height: 22px;
       text-align: center;
       margin-left: auto;
       margin-right: auto !important;
}

label {
       font-weight: bold;
}
.form-control-lg {
       font-size: .85rem;
}

   .copyright {
       height: 18px;
       color: #778CA2;
       font-size: 14px;
       font-weight: 700;
       line-height: 18px;
       position: relative;
       top:107px;
       text-align: center;
   }

   .copyright a {
       color: $color-actian-primary;
       text-decoration: none;
       margin-left: 10px;
   }

.titleHeader {
       font-weight: bold;
}


.emailConfirm {
       width: 440px;
       margin-left: -37px;
       margin-top: 67px;
   }

.emailConfirm p {
       font-weight: bold;
       line-height: 2.5;
}

.message {
       font-weight: bold;
       line-height: 2.5em;
       margin-top:60px;
}

.resetForm {
       width: 360px !important;
       margin-right: auto;
       margin-left: auto;
}
