<div class="warehouse-details center-content">
    <div class="header-section">
        <span class="header-subtitle">Warehouse Name 1 Details</span>
        <span class="header-title">Warehouses</span>
    </div>
    <div class="row wh-details-section">
        <div class="wh-details col-12">
            <div class="wh-details-header">
                <div class="wh-title-n-logo">
                    <span class="title">Warehouse Name 1</span>
                    <div class="logo">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="wh-tab-links">
                    <ul class="tab-links">
                        <li [ngClass]="{'active': tab === 'details'}">
                            <a><p>Details</p></a>
                        </li>
                        <li [ngClass]="{'active': tab === 'connections'}">
                            <a><p>Connections</p></a>
                        </li>
                        <li [ngClass]="{'active': tab === 'configurations'}">
                            <a><p>Configurations <span class="meta-count">9</span></p></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="wh-details-rows">
                <form class="wh-details-rows-form">

                    <div class="wh-details-row">
                        <div class="section one col-4">
                            <span class="">Status</span>
                            <div class="info-icon fa fa-info"></div>
                        </div>
                        <div class="section two col-6">
                            <span class="">Running</span>
                        </div>
                        <div class="section three col-2">
                            <div class="icon-container">

                            </div>
                        </div>
                    </div>
                    <div class="wh-details-row even-row">
                        <div class="section one col-4">
                            <span class="">Storage</span>
                            <div class="info-icon fa fa-info"></div>
                        </div>
                        <div class="section two col-6">
                            <span class="">1TB</span>
                        </div>
                        <div class="section three col-2">
                            <div class="icon-container">

                            </div>
                        </div>
                    </div>
                    <div class="wh-details-row">
                        <div class="section one col-4">
                            <span class="">Compute</span>
                            <div class="info-icon fa fa-info"></div>
                        </div>
                        <div class="section two col-6">
                            <span class="">8 AUs</span>
                        </div>
                        <div class="section three col-2">
                            <div class="icon-container">

                            </div>
                        </div>
                    </div>
                    <div class="wh-details-row even-row double-rows" style="height: 120px;">
                        <div class="double-row extra-margin">
                            <div class="section one col-4">
                                <span class="">Start Date</span>
                            </div>
                            <div class="section two col-6">
                                <span>Oct 3,2019   10:30AM</span>
                            </div>
                            <div class="section three col-2">
                                <div class="icon-container">

                                </div>
                            </div>
                        </div>
                        <div class="double-row">
                            <div class="section one col-4">
                                <span class="">Stop Date</span>
                            </div>
                            <div class="section two col-6">
                                <span>Oct 3,2019   10:45 PM </span>
                            </div>
                            <div class="section three col-2">
                                <div class="icon-container">

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="wh-details-row ">
                        <div class="section one col-4">
                            <span class="">Running Duration</span>
                            <div class="info-icon fa fa-info"></div>
                        </div>
                        <div class="section two col-6">
                            <span>  12h: 15m: 24s </span>
                        </div>
                        <div class="section three col-2">
                            <div class="icon-container">

                            </div>
                        </div>
                    </div>
                    <div class="wh-details-row even-row">
                        <div class="section one col-4">
                            <span class="">Location</span>
                            <div class="info-icon fa fa-info"></div>
                        </div>
                        <div class="section two col-6">
                            <span class="">US East  Northern Virgina</span>
                        </div>
                        <div class="section three col-2">
                            <div class="icon-container">

                            </div>
                        </div>
                    </div>
                    <div class="wh-details-row">
                        <div class="section one col-4">
                            <span class="">Host Name</span>
                            <div class="info-icon fa fa-info"></div>
                        </div>
                        <div class="section two col-6">
                            <span>av-Jp7KMZmbl.avstage.aws.actiandatacloud.com</span>
                        </div>
                        <div class="section three col-2">
                            <div class="icon-container">
                                <i class="fa fa-clock schedule-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="wh-details-row even-row">
                        <div class="section one col-4">
                            <span class="">Warehouse ID</span>
                            <div class="info-icon fa fa-info"></div>
                        </div>
                        <div class="section two col-6">
                            <span>av-Jp7KMZ.mbl</span>
                        </div>
                        <div class="section three col-2">
                            <div class="icon-container">
                                <div class="day-of-week plus-marker">+</div>
                            </div>
                        </div>
                    </div>
                    <div class="wh-details-row">
                        <div class="section one col-4">
                            <span class="">Whitelist IP or CIDR</span>
                            <div class="info-icon fa fa-info"></div>
                        </div>
                        <div class="section two col-6">
                            <span></span>
                        </div>
                        <div class="section three col-2">
                            <div class="icon-container">
                                <i class="fa fa-clock schedule-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="wh-details-row even-row">
                        <div class="section one col-4">
                            <span class="">Scheduling</span>
                            <div class="info-icon fa fa-info"></div>
                        </div>
                        <div class="section two col-6">
                            <div class="days-of-week">
                                <div class="scheduled-time">10:30PM</div>
                                <div class="day-of-week">M</div>
                                <div class="day-of-week">W</div>
                                <button type="button" class="btn btn-outline-primary">Recurring</button>
                            </div>
                        </div>
                        <div class="section three col-2">
                            <div class="icon-container" (click)="whDrawer.toggleDrawer()">
                                <i class="fa fa-clock schedule-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="wh-details-row">
                        <div class="section one col-4">
                            <span class="">Idle Stop</span>
                            <div class="info-icon fa fa-info"></div>
                        </div>
                        <div class="section two col-6">
                            <span>10 min 50 sec</span>
                        </div>
                        <div class="section three col-2">
                            <div class="icon-container">
                                <label class="switch" style="margin-top: 12px;">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="wh-details-row even-row">
                        <div class="section one col-4">
                            <span class="">Database Users</span>
                            <div class="info-icon fa fa-info"></div>
                        </div>
                        <div class="section two col-6">
                            <div class="days-of-week">
                                <div class="day-of-week db-color">AR</div>
                                <div class="day-of-week db-color">BL</div>
                                <div class="day-of-week db-color">SM</div>
                            </div>
                        </div>
                        <div class="section three col-2">
                            <div class="icon-container" (click)="whDrawer.toggleDrawer()">
                                <i class="fa fa-user-plus schedule-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="wh-details-row">
                        <div class="section one col-4">
                            <span class="">S3 Access</span>
                            <div class="info-icon fa fa-info"></div>
                        </div>
                        <div class="section two col-6">
                            <span>*********</span>
                        </div>
                        <div class="section three col-2">
                            <div class="icon-container side-text">
                                Update S3
                            </div>
                        </div>
                    </div>
                    <div class="wh-details-row">
                        <div class="section one col-4">
                            <span class="">Created By</span>
                            <div class="info-icon fa fa-info"></div>
                        </div>
                        <div class="section two col-6">
                            <div class="days-of-week">
                                <div class="day-of-week db-color">JD</div>
                                <div class="scheduled-time">Oct 2, 2019  10:30 AM  </div>
                            </div>
                        </div>
                        <div class="section three col-2">
                            <div class="icon-container">

                            </div>
                        </div>
                    </div>
                    <div class="wh-details-row even-row">
                        <div class="section one col-4">
                            <span class="">Last Modified By</span>
                            <div class="info-icon fa fa-info"></div>
                        </div>
                        <div class="section two col-6">
                            <div class="days-of-week">
                                <div class="day-of-week db-color">JD</div>
                                <div class="scheduled-time">Oct 4, 2019  10:15 AM  </div>
                            </div>
                        </div>
                        <div class="section three col-2">
                            <div class="icon-container">

                            </div>
                        </div>
                    </div>

                    <div class="wh-details-last-row">

                    </div>
                </form>
            </div>
        </div>
    </div>
    <app-footerrefresh></app-footerrefresh>
</div>

<!-- Side Drawer -->
<app-drawer #whDrawer [title]="'Scheduling Warehouse'">
    <app-scheduler></app-scheduler>
</app-drawer>
